<hr>
<h1 class="text-center">All Groups</h1>
<hr>


<div class="container">
  <%= link_to "new Group", new_group_path, class: "btn btn-primary w-100 mb-4"  %>

  <% @groups.each do |group| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to group.name.capitalize, group_path(group), style: "color:white" %>
    </div>
    <br>
  <% end %>
</div>

