<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dinner Manager</title>
</head>
<body>
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row  d-flex align-items-center justify-content-center">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Easily plan your dinners with friends </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <button class="btn btn-primary">
          <%= link_to "Organize dinner", new_user_registration_path, style: "color:white; " %>
        </button>
      </div>
    </div>
    <div class="" row>

    </div>
  </div>
</header>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-calendar-alt m-auto text-primary"></i>
          </div>
          <h3>Plan your dinners</h3>
          <p class="lead mb-0">Verry easy to plan your dinners</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-users m-auto text-primary"></i>
          </div>
          <h3>Invite Group</h3>
          <p class="lead mb-0">Invite your group of friends very easy!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-utensils m-auto text-primary"></i>
          </div>
          <h3>Organize dinner</h3>
          <p class="lead mb-0">Once the group is complete you can organize your dinners with eachother</p>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>