.demo-card-wide.mdl-card {
  width: 360px;
}
.mdl-card__supporting-text {
  width: 100% !important;
  padding: 16px 0px 0px 10px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}