<hr>
<h1 class="text-center"><%= @dinner.name %></h1>
<hr>

<div class="container">
  <br>
  <%= render 'memberships/members_status' %>

  <%= link_to "back", group_path(@group), class: "btn btn-primary"  %>
</div>

